main(id="main", tabindex="-1")
    .row
        .col
            .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2
                h1.section-title(translate, id="title", tabindex="-1") units.my_units.title
                .btn-toolbar.mb-2.mb-md-0
                    .btn-group.mr-2
                        button.btn.btn-sm.btn-primary(type="button", (click)="goToCreate()") 
                            | {{ 'units.my_units.create_button' | translate }} &nbsp;
                            fa-icon([icon]="['fas', 'plus-circle']")

    .row
        .col
            io-alerts

    .row
        .col-md-12.col-lg-4.col-xl-3.d-flex.justify-content-center.justify-content-lg-start
            span {{  "search.showing_count" | translate: { page: getElements(), size:total }  }}
        .col-md-12.col-lg-8.col-xl-9.d-flex.justify-content-center.justify-content-lg-end
            .form-inline.filters-bar
                //- Unit type
                .form-group
                    label(translate, [for]="typeFilter.key") units.unit_type &nbsp;
                    io-select-type([filter]="typeFilter", (typeSelected)="onFilterSelected($event)") 
                //- Orders
                .form-group
                    label(translate, [for]="orderFilter.key") &nbsp; search.order_by &nbsp;
                    io-select-type([filter]="orderFilter", (typeSelected)="onFilterSelected($event)")
    //- Results
    io-loader
    .row(*ngIf="units$ | async as units")
        .col
            io-list-unit(*ngFor="let unit of units", [item]="unit")
            .card.my-2(*ngIf="units.length == 0")
                .card-body {{ 'units.no_results' | translate }}
    .row
        nav.col([attr.aria-label]="'pagination.navigation' | translate")
            .current-page(id="current-page")
                label(for="current-pagination-value")  {{ 'pagination.current' | translate }}
                input.form-control-inline(
                    id="current-pagination-value",
                    matInput,
                    type="number",
                    min="1",
                    [max]="lastPage",
                    [(ngModel)]="page",
                    (ngModelChange)="$event && loadUnits($event)",
                    name="page"
                )
            mat-paginator([length]="total",
                [pageSize]="5",
                [hidePageSize]="true",
                [pageIndex]="page - 1",
                [showFirstLastButtons]="true",
                (page)="loadUnits($event.pageIndex+1)")
